.text-right{
    text-align: right
}
.text-left{
    text-align: left
}
.text-center{
    text-align: center
}

.btn-search {
    margin-right: 15px;
}

.btn-save {
    margin-right: 15px;
}

.btn-clear {
    margin-right: 15px;
}
