.content-in-flow {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 4;
    font-size: 12px;

    .content-wrapper {
        flex: 6;

        .content {
            background-color: #fff;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 20px;
            margin: 20px;
            min-width: 300px;

            .accordion-button:after {
                margin-left: 10px;
            }

            .title-content h1 {
                font-size: 28px;
                font-weight: 500;
                letter-spacing: 0;
                line-height: 1.5em;
                padding-bottom: 15px;
                position: relative;
            }

            .title-content h1:before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 5px;
                width: 55px;
                background-color: #594f74;
            }

            .title-content h1:after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 2px;
                height: 1px;
                width: 95%;
                max-width: 255px;
                background-color: #594f74;
            }


            .sub-title-content {
                font-weight: 500;
                color: gray;

                margin-top: 15px;
                margin-bottom: 15px;
            }
        }
    }
}
